sample_sheet.tsv
.nfs*
.snakemake/*
.snakemake
GISTICDocumentation_standalone_files/*
GISTICDocumentation_standalone_files
MATLAB_Compiler_Runtime/*
MATLAB_Compiler_Runtime
MCR_Installer/*
MCR_Installer
examplefiles/*
examplefiles
gistic2
gp_gistic2_from_seg
refgenefiles/*
refgenefiles
source/*
source

sample_lists
logs/*
sample_lists/*
.github/
!scripts
!scripts/*
!envs
!envs/*
!schemas
!schemas/*
!rules
!rules/*
analysis
analysis/*
gistic
gistic/*
focal_CNA_pseudo_bed.txt
sbatch_gistic_run
!analysis/README.md
!config
!config/*
!resources
!resources/*
!workflow
!workflow/**
!.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!.test
!LICENSE
!README.md
