.github/
!scripts
!scripts/*
!envs
!envs/*
!schemas
!schemas/*
!rules
!rules/*
analysis
analysis/*
gistic
gistic/*
focal_CNA_pseudo_bed.txt
sbatch_gistic_run
!analysis/README.md
!config
!config/*
!resources
!resources/*
!workflow
!workflow/**
!.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!.test
!LICENSE
!README.md
